@page "/snake"
@rendermode InteractiveServer
@using Blazor.Extensions
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D
@using System.Numerics
@using System.Diagnostics
@using System.Text.Json
@using GUI.Client.Controllers;
@inject IJSRuntime JsRuntime;

<PageTitle> Snake </PageTitle>

<div id="snakeCanvas" style="position: fixed; width: 100%; height: 100%">
    <BECanvas Width="1000" Height="1000" @ref="canvasReference"></BECanvas>
</div>

@code
{
    private const int WorldSize = 1000;
    private World TheWorld = new(WorldSize);
    private BECanvasComponent canvasReference = null!;
    private Canvas2DContext context = null!;
    private IJSObjectReference jsModule = null!;
    private ElementReference backgroundImage;
    private const int ViewWidth = 1000;
    private const int ViewHeight = 1000;

    NetworkController controller = new NetworkController();

    protected override async Task OnAfterRenderAsync( bool firstRender )
    {
        if ( firstRender )
        {
            jsModule = await JsRuntime.InvokeAsync<IJSObjectReference>( "import", "./Pages/SnakeGUI.razor.js" );
            context = await canvasReference.CreateCanvas2DAsync();
            await JsRuntime.InvokeAsync<object>( "initRenderJS", DotNetObjectReference.Create( this ) );

            //Connect to the server)

            GameLoop();
        }
    }

    //Draws a new snake when a new user connects. 

    private async void GameLoop() 
    {
        while(true) 
        {
            // control the frame rate
            // update/draw things
            Thread.Sleep(20);
            controller.HandleConnect(); // check this thing.
            await DrawFrame();
        }
    }

    private async Task DrawFrame()
    {
        //await this.context.SetFillStyleAsync("");

        await context.BeginBatchAsync();

        await context.DrawImageAsync(backgroundImage, 0, 0, ViewWidth, ViewHeight);

        // Something that draws all the walls and powerups as the world gets made.
        foreach (Snake p in TheWorld.Players.Values)
        {
            //while ( r.Next() % 10000 != 0 ) ; // ignore this loop for now

            // prep to draw a circle
            await context.SetLineWidthAsync(5);

            // red for team 0, blue for team 1
            if (p.ID % 2 == 0)
                await context.SetStrokeStyleAsync($"rgb( 255, 0, 0 )");
            else
                await context.SetStrokeStyleAsync($"rgb( 0, 0, 255 )");

            // draw the circle
            await context.BeginPathAsync();
            await context.ArcAsync(p.Position.X, p.Position.Y, 10, 0, 2 * Math.PI);
            await context.StrokeAsync();
        }

        foreach (Powerup p in TheWorld.Powerups.Values) //Bug
        {
            // smaller yellow circle for powerups
            await context.SetLineWidthAsync(5);
            await context.SetStrokeStyleAsync($"rgb( 255, 255, 0 )");
            await context.BeginPathAsync();
            await context.ArcAsync(p.Position.X, p.Position.Y, 3, 0, 2 * Math.PI);
            await context.StrokeAsync();
        }

        // finish batch drawing
        await context.EndBatchAsync();

        StateHasChanged();
    }

    [JSInvokable]
    public void HandleKeyPress( string key )
    {

        key = key.ToLower();
        // TODO: Once the client is connected and the handshake is complete,
        //       invoke some controller method to send the appropriate command to the server
        if (key.Equals("w")) /*Keep track of the axis*/
        {
            controller.moveUP();
        }
        else if (key.Equals("a")) /*Keep track of the axis*/
        {
            controller.moveLEFT();
        }
        else if (key.Equals("s")) /*Keep track of the axis*/
        {
            controller.moveRIGHT();
        }
        else if (key.Equals("d")) /*Keep track of the axis*/
        {
            controller.moveDOWN();
        }

        // TODO: Remove this, which is just here to show you what the 'key' string is for whatever key you pressed
        Debug.WriteLine("key pressed: " + key);
    }

    private async void DrawSnake() 
    {

    }

    private async void DrawWall()
    {

    }

    private async void DrawPowerup() 
    {
        // Draw powerups based on color
    }

}

