@page "/"

<PageTitle>Home</PageTitle>

<h1>Snake!</h1>

This Snake game was designed based on the demo code we received in the Lab. 
The Models folder contains various classes for objects that you will see in the game, 
including the snakes, walls, and power-ups, which will be tracked using a point class. 
We have a controller class that will call all necessary methods to draw our game state, 
and the GUI will contain all of the code needed to make those drawings. 
The game will launch a website with three main text boxes for the server name, port, and in-game name. 
When the player enters their name and presses connect, they will be loaded into the game world with their snake. 
Their score and name will be on display by the front end of the snake, and they will be able to move their snake with the WASD keys. 
Additionally, we have created a series of buttons that appear right above the playable field: Desert, Forest, and Space. 
By clicking on these buttons, the background image will change, allowing you to customize your game experience.

We sincerely hope you enjoy playing our game!
